@{
    ViewBag.Title = "Acerca de Mi";
}
<div class="row">
    <div class="col s12 m4 white-text">
        <div class="card" style="background-color: #01a4d2;">
            <div class="card-image">
                <img src="~/Images/sample-1.jpg">
                <span class="card-title">Guillermo Villalobos</span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m2 center-align">
                        <i class="small material-icons">person</i>
                    </div>
                    <div class="col s12 m10">
                        <p>Soy una persona amante de la tecnología, con muchas metas, sueños y proyectos.</p>
                        <p>Me gustan los retos y siempre estoy buscando aprender nuevas cosas.</p>
                        <p>Actualmente me encuentro estudiando ingeniería de Sistemas en la Universidad Católica de Costa Rica.</p>
                        <br>
                        <hr>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m2 center-align">
                        <i class="small material-icons">phone</i>
                    </div>
                    <div class="col s12 m10">
                        <p>+506 71054471</p>
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 center-align">
                        <i class="small material-icons">mail</i>
                    </div>
                    <div class="col s12 m10">
                        <p class="white-text">gmovida@gmail.com</p>
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 center-align">
                        <i class="small material-icons">home</i>
                    </div>
                    <div class="col s12 m10">
                        <p class="white-text">200 norte de la Iglesia Católica Barrio el Campo, Ciudad Quesada, Alajuela.</p>
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 center-align">
                        <i class="small material-icons center-align">fitness_center</i>
                    </div>
                    <div class="col s12 m10">
                        <h5> Habilidades</h5>
                        <p>HTML</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 90%; background-color: white;"></div>
                        </div>
                        <p>Javascript</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 85%; background-color: white;"></div>
                        </div>
                        <p>SQL</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 80%; background-color: white;"></div>
                        </div>
                        <p>ORACLE</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 40%; background-color: white;"></div>
                        </div>
                        <p>Asp.net - C#</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 70%; background-color: white;"></div>
                        </div>
                        <p>Asp.net - Vb</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 60%; background-color: white;"></div>
                        </div>
                        <p>Angular</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 30%; background-color: white;"></div>
                        </div>
                        <p>NodeJs</p>
                        <div class="progress" style="background-color: #3f3f3f">
                            <div class="determinate" style="width: 40%; background-color: white;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m8 grey-text text-darken-1">
        <ul id="CurriContent">
            <li>
                <div class="card-panel hoverable">
                    <div class="row">
                        <div class="col s12 m2 center-align">
                            <i class="medium material-icons">work</i>
                        </div>
                        <div class="col s12 m10">
                            <h5>Trabajador Independiente</h5>
                            <span class="blue-text">Jul 2011 - Hasta la Fecha </span>
                            <p>Se ofrecen servicios Profesionales de soporte y mantenimiento de sistemas</p>
                            <p>Desarrollo de sistemas</p>
                            <p>Asesoría para compra de equipos tecnológicos</p>
                            <p>Desarrollo de páginas web</p>
                            <p>Administración de servidores y respaldos en la nube</p>
                            <br>
                            <hr>
                            <h4>Experiancia Laboral</h4>
                            <div>
                                <h5>Coocique R.L.</h5>
                                <span class="blue-text">Nov 2016 - Dic 2017 </span>
                                <p>Se trabajo en labores desarrollo y mantenimiento de sistemas en ORACLE Forms.</p>
                                <p>
                                    Participe como desarrollador en el proyecto de Sistema de Cobro Judicial desarrollado en ASP.Net, también participe
                                    en el proyecto de Sistema de Tarjetas de Créditos y Puntos como QA.
                                </p>
                                <p>
                                    Analice, desarrolle e implemente un sistema interno para control de salidas a producción para tener mayor control
                                    y orden de los procesos de salidas a producción.
                                </p>
                            </div>
                            <br>
                            <hr>
                            <h5>Intersoft ST de Latinoamerica S.A</h5>
                            <span class="blue-text">Jul 2013 - Jun 2016 </span>
                            <p>Durante el primer año se realizaron labores Tectónicas de Soporte y mantenimientos de equipos y servidores.</p>
                            <p>
                                Durante el segundo año hasta finalizar, cumplía labores de implementación de sistemas, administración de páginas
                                web, hosting, servidores dedicados
                            </p>
                            <p>Levantamiento de requerimientos con los clientes e implementaciones de herramientas como Odoo y Alfresco.</p>
                            <br>
                            <hr>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-panel hoverable">
                    <div class="row">
                        <div class="col s12 m2 center-align">
                            <i class="medium material-icons">school</i>
                        </div>
                        <div class="col s12 m10">
                            <h4>Educación</h4>

                            <div>
                                <h5>
                                    Bachiller en Ingeniería de Sistemas
                                    <span>Universidad Católica de Costa Rica</span>
                                </h5>
                                <span class="blue-text">JAN 2011 - Hasta la fecha </span>

                            </div>
                            <br>
                            <hr>
                            <h5>
                                Fundamentos de HTML
                                <span>SoloLearn</span>
                            </h5>
                            <span class="blue-text">Dic 2015 - Dic 2015 </span>
                            <p>Curso en línea </p>
                            <a href="https://www.sololearn.com/Certificate/1014-445718/pdf/">Certificado</a>
                            <br>
                            <hr>
                            <h5>
                                Tutoria de JavaScript
                                <span>SoloLearn</span>
                            </h5>
                            <span class="blue-text">Dic 2015 - Dic 2015 </span>
                            <p>Curso en línea </p>
                            <a href="https://www.sololearn.com/Certificate/1024-445718/pdf/">Certificado</a>
                            <br>
                            <hr>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-panel hoverable">
                    <div class="row">
                        <div class="col s12 m2 center-align">
                            <i class="medium material-icons">flight</i>
                        </div>
                        <div class="col s12 m10">
                            <h4>Intereses</h4>
                            <div class="row">
                                <div class="col s4 m2">Música</div>
                                <div class="col s4 m2">Teatro</div>
                                <div class="col s4 m2">Caminar</div>
                                <div class="col s4 m2">Juegos</div>
                                <div class="col s4 m2">Aprender</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>